.content{
    display: flex;
    align-content: center;
    flex-direction: column ;
    background-image: url("tickets.png");
    opacity: 0.73;
    height: 20vw;
    width: 100vw;
    color: white;
}

.content button{
    background-color: rgb(0, 0, 0);
    color: white ;
    font-size: 2em;
    font-weight: 800;
    box-sizing: content-box;
    width: fit-content;
    height: 4vw;
    border-radius: 10%;
    margin-top: 6vw;
    border-color: rgb(0, 0, 0) solid;
}

.content button:hover{
    transform: scale(1.1);
}